<div id="footer">
  <a href="http://mattwojtkun.com/" target="_blank" id="website">&#169; mattwojtkun.com 2017</a>
  <a href="https://github.com/WojoSite/RailsBlog" target="_blank" id="github-link">
    <img src="/assets/github.png" alt="Github">
  </a>
</div>
